*{
    background-color: rgb(16, 16, 31);
    text-align: center;
    margin: 1px;
   
 

}
.header1{
    background-color: rgb(159, 171, 185);
    padding: 20px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.thelogo img{
    width: 350px;
    height: auto;
    display: flex;
    justify-content: center ;
    align-items: center;
  
}
.p1{
    padding: 29px 20px;
    color:rgb(159, 171, 185) ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 900px;
    font-size: 21px;
    height: auto;
}
.thoughts{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
     background-color: rgb(159, 171, 185);
     padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.reasons li{
    color: rgb(159, 171, 185);
    font-size: 25px;
    padding: 20px ;
    list-style: '▶';
    list-style-position: inside;
    text-align: left;
}
.reasons {
    margin-bottom: 55px;
}
.lastsection p,a{
    background-color: rgb(159, 171, 185);
    font-size: 25px;
    height: 30px;
}
.mybloglink{
 text-decoration: none ;
 color: inherit;
 font-weight: 800;

}
.mybloglink:hover{
 color: rgb(63, 63, 97);
 font-size: 26px;
}
